.homeMenu {
    width:100px;
}

#menuArea {
    width:500px;margin-left:50px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration:underline;
}

h1, h4 {
    text-align:center;
    color:#000080;
}

h1 {
    font-style: italic;
}

