.homeMenu {
    width:100px;
    
}

#menuArea {
    width:100%;
    font-family:'Bungee', cursive;
    font-size:14px;
    background-color:blanchedalmond;
}

#important{
    font-weight:bold;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    font-size:14px;
}

a:visited{
    color: dimgray;
}

h1, h4 {
    text-align:center;
}

h1 {
    font-family:'Bungee', cursive;
    font-size:40px;
}

.alignRight{
    text-align:right;
}

.bodyContent{
    background-color:blanchedalmond;
}

