div {
    margin-bottom: 5px;
    color:white;
    font-size:16px;
    font-weight:bold;
}

li {
    float:left;
}

#important{
    font-weight:bold;
}

a{
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    font-size:16px;
}

a:visited{
    color: white;
}

h1, h4 {
    text-align:center;
}

.alignRight{
    text-align:right;
}

body{
    background-image: url(background.jpg);
}

#jumbo{
    background-color:transparent;
}

#restName{
    font-size: 46px;
}

#readable{
    background-color:black;
    opacity: 0.6;
}

.menu{
    font-size:12px;   
}